.anima {
    outline: none;
    text-decoration: none;
    overflow: hidden;
}

.anima:hover {
    box-shadow: 0px 5px 15px -3px black;
    transform: scale(1.5);
    transition: all 1s;
}

.total {
    box-shadow: 1px 1px 10px 1px white !important;
    transition: all 0.3s linear;
}